<div class="container mt-6">
  <h1 class="text-center mb-4">Consultation des Données Climatiques</h1>
  <h3 class="text-center mb-4">
    Volume de données:<span class="badge bg-danger ms-3"
      >{{ donneesClimatiques.length }}/{{ total | number : "1.0-0" }}</span
    >
  </h3>
  <p class="text-center my-5 ">
    Cette page vous permet de consulter les données climatiques disponibles en fonction de la ville et des dates que vous sélectionnez. 
    Vous devez d'abord entrer le nom de la ville et spécifier une plage de dates (date de début et date de fin) pour affiner votre recherche puis cliquez sur "Recherche" pour obtenir les résultats. 
    
    Vous pouvez télécharger les données et choisir le format (JSON ou CSV).
    Vous avez aussi la possibilité de sélectionner les colonnes que vous souhaitez afficher dans le tableau des résultats.
  </p>
  
  <div class="d-flex">
    <input
      [(ngModel)]="Ville"
      #searchInput="ngModel"
      (input)="onSearch()"
      class="form-control me-2"
      placeholder="Nom de la ville"
      required
    />
  </div>

  <div
    *ngIf="searchInput.invalid && searchInput.touched"
    class="text-danger mt-1"
  >
    Veuillez entrer une ville avant de rechercher.
  </div>

  <ul *ngIf="filteredCities.length > 0" class="suggestions-container">
    <li
      *ngFor="let city of filteredCities"
      class="list-group-item"
      (click)="onCitySelect(city)"
    >
      {{ city.ville }}
    </li>
  </ul>

  <div class="row">
    <div class="col-md-5">
      <label for="dateDebut" class="form-label">Date de début (inclus):</label>
      <input
        type="date"
        id="dateDebut"
        class="form-control"
        [(ngModel)]="dateDebut"
      />
    </div>

    <div class="col-md-5">
      <label for="dateFin" class="form-label">Date de fin (exclus):</label>
      <input
        type="date"
        id="dateFin"
        class="form-control"
        [(ngModel)]="dateFin"
      />
    </div>

    <div class="col-md-2 d-flex align-items-end">
      <button
        class="btn btn-primary w-100"
        (click)="rechercher()"
        [disabled]="!Ville"
      >
        Recherche
      </button>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="d-flex mt-4 align-items-center">
    <label for="downloadSelector" class="form-label w-auto me-3"
      >Télécharger</label
    >
    <select
      id="downloadSelector"
      class="form-select w-auto"
      [(ngModel)]="selectedFormat"
    >
      <option value="json">JSON</option>
      <option value="csv">CSV</option>
    </select>

    <button class="btn btn-primary ms-2" (click)="Download()">
      Télécharger
    </button>
  </div>

  <div class="mt-4">
    <h5>Sélectionnez les colonnes à afficher :</h5>
    <div class="row">
      <div class="col-md-3" *ngFor="let col of availableColumns">
        <div
          *ngIf="
            col.key !== 'id' && col.key !== 'numer_sta' && col.key !== 'date'
          "
          class="form-check form-switch"
        >
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ col.key }}"
            [(ngModel)]="selectedColumns[col.key]"
          />
          <label
            class="form-check-label"
            for="{{ col.key }}"
            data-bs-toggle="tooltip"
            title="{{ col.description }}"
          >
            {{ col.label }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <ng-container *ngFor="let col of availableColumns">
              <th class="px-4 py-3" *ngIf="isSelected(col.key)">
                {{ col.label }}
              </th>
            </ng-container>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let elem of donneesClimatiques
                | paginate : { itemsPerPage: itemsPerPage, currentPage: page }
            "
          >
            <ng-container *ngFor="let col of availableColumns">
              <td class="px-4 py-3" *ngIf="isSelected(col.key)">
                {{ elem[col.key] }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    *ngIf="donneesClimatiques.length === 0"
    class="mt-4 text-center text-muted"
  >
    <p>Aucune donnée trouvée. Essayez avec d'autres dates.</p>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      previousLabel="Précédent"
      nextLabel="Suivant"
    ></pagination-controls>
  </div>
</div>
